common --enable_platform_specific_config
common --experimental_announce_profile_path

build --incompatible_strict_action_env

# The {linux,macos,windows} configs are automatically enabled by Bazel depending
# on the current platform due to --enable_platform_specific_config above.
build:linux --workspace_status_command=infra/get_workspace_status
build:macos --workspace_status_command=infra/get_workspace_status
build:windows --workspace_status_command=infra/get_workspace_status.cmd

test --test_summary=testcase
test --test_output=errors

# These settings should be enabled whenever bazel is running in an automated
# context
build:noninteractive --color=yes
build:noninteractive --curses=no
build:noninteractive --show_timestamps
build:noninteractive --announce_rc
build:noninteractive --test_output=summary
build:noninteractive --keep_going

build:release --config=noninteractive
build:release --stamp

# Platform-specific options for each supported platform.
build:remote_linux_x64 --extra_execution_platforms=//platform/linux_x64
build:remote_linux_x64 --extra_toolchains=//platform/linux_x64:cc-toolchain
build:remote_linux_x64 --host_platform=//platform/linux_x64
build:remote_linux_x64 --platforms=//platform/linux_x64

build:remote_macos_x64 --extra_execution_platforms=//platform/macos_x64
build:remote_macos_x64 --host_action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:remote_macos_x64 --host_platform=//platform/macos_x64
build:remote_macos_x64 --macos_minimum_os=12
build:remote_macos_x64 --platforms=//platform/macos_x64

build:remote_windows_x64 --extra_execution_platforms=//platform/windows_x64
build:remote_windows_x64 --extra_toolchains=//platform/windows_x64:cc-toolchain
build:remote_windows_x64 --host_platform=//platform/windows_x64
build:remote_windows_x64 --platforms=//platform/windows_x64

# Options for EngFlow remote execution.
build:engflow_common --jobs=40
build:engflow_common --define=EXECUTOR=remote
build:engflow_common --experimental_inmemory_dotd_files
build:engflow_common --experimental_inmemory_jdeps_files
build:engflow_common --incompatible_strict_action_env=true
build:engflow_common --remote_timeout=600
build:engflow_common --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:engflow_common --grpc_keepalive_time=30s
build:engflow_common --experimental_remote_cache_compression=true
build:engflow_common --remote_download_minimal

build:engflow_bes --bes_backend=grpcs://opal.cluster.engflow.com
build:engflow_bes --bes_results_url=https://opal.cluster.engflow.com/invocations/auth/
build:engflow_bes --bes_instance_name=auth
build:engflow_bes --bes_lifecycle_events

build:engflow --config=engflow_common
build:engflow --config=engflow_bes
build:engflow --remote_executor=grpcs://opal.cluster.engflow.com
build:engflow --remote_instance_name=auth

# To authenticate with the clusters above, either add flags to this
# .bazelrc.user file or to your $HOME/.bazelrc. These files may contain
# credentials and local file system paths, so they're not checked in.
try-import .bazelrc.user
